@font-face {
    font-family: "Asap";
    src: url(../assets/fonts/Asap/static/Asap-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Inconsolata";
    src: url(../assets/fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf) format("truetype"),url(../assets/fonts/Inconsolata/static/Inconsolata-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Maven Pro";
    src: url(../assets/fonts/Maven_Pro/static/MavenPro-Regular.ttf) format("truetype"), url(../assets/fonts/Maven_Pro/MavenPro-VariableFont_wght.ttf) format("truetype");
}