header.header-container {
    max-width: 85.375rem;
    height: 46.875rem;
    margin: auto;
}

main.main-container {
    max-width: 85.375rem;
    height: 57.313rem;
    margin: auto;
    padding-top: 4.5rem;
    background-color: var(--bg-main);
}

aside.aside-container {
    max-width: 85.375rem;
    max-height: 30rem;
    margin: auto;
}

section.section-container {
    max-width: 85.375rem;
    height: 49.19rem;
    margin: auto;
}

@media screen and (min-width: 23.43rem) and (max-width: 48rem) {
    main.main-container {
        height: 130rem;
        margin: auto;
    }

    aside.aside-container {
        max-height: 120rem;
        margin: auto;
    }
}


