div.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20.625rem, 1fr));
    gap: 1.5rem;
    margin: auto;
}

main div.title-container {
    margin: 0rem auto 3.5rem;
    text-align: center;
    max-width: 65rem;
    max-height: 3.812rem;
}

main div.project-container {
    max-width: 65rem;
    height: 36.5rem;
    margin-bottom: 9rem;
}

main div.project-container figure {
    width: 20.625rem;
    height: 17.5rem;
    border: 1px solid transparent;
    background-color: var(--gray-300);
    border-radius: .75rem;
}

main div.project-container figure:hover {
    border: 1px solid var(--gray-400);
}

main div.project-container img {
    margin: .5rem;
    border-radius: .5rem;
    overflow: hidden;
    width: 19.125rem;
    height: 9.75rem;
}

main div.project-container figcaption {
    margin: 1rem;
}

main div.project-container figcaption h3 {
    margin-bottom: .5rem;
}

@media screen and (min-width: 23.43rem) and (max-width: 48rem) {
    main div.title-container {
        margin-bottom: 2rem;
    }

    div.grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 10rem;
    }
}

@media screen and (min-width: 64rem) and (max-width: 80rem) {
    div.grid {
        gap: 0.1rem;
    }
    
    main div.project-container figure {
        margin: auto;
        width: 19.625rem;
        height: 16.5rem;
        border: 1px solid transparent;
        background-color: var(--gray-300);
        border-radius: .75rem;
    }

    main div.project-container img {
        margin: .5rem;
        border-radius: .5rem;
        overflow: hidden;
        width: 18.125rem;
        height: 8.75rem;
    }
}
