button {
    all: unset;
    font-weight: 500;
    color: var(--text-highlight);
    padding: .75rem 1.5rem;
    border-radius: .5rem;

    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: var(--brand-dark);
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #F3541C;
}

.btn-secondary:hover,
.btn-secondary:focus {
    color: var(--brand-dark);
    outline: .25rem solid var(--surface-secondary);
}

.btn-secondary {
    border: 1px solid var(--text-highlight);
}

@media (width <= 26em) {
    div.actions-wrapper {
        flex-direction: column;
        text-align: center;
        margin-inline: auto;
        margin-bottom: 2.5rem;
    }
}

@media (width > 26em) {
    div.actions-wrapper {
        margin-bottom: 2.5rem;
    }
    
    .btn-secondary {
        margin-left: auto;
    }
}