* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color-light: hsl(213, 94%, 68%);
    --brand-color-dark: hsl(224, 76%, 48%);
    --bg-color: #0F1729;
    --stroke-color: #1E293B;
    --text-color-primary: #F1F5F9;
    --text-color-secondary: #CBD5E1;
    

    --font-family: 'Archivo', sans-serif;
    --h1: 800 1.5rem/135% var(--font-family);
    --h2: 800 1rem/140% var(--font-family);
    --h3: 800 0.875rem/140% var(--font-family);
    --text-span: 600 0.875rem/145% var(--font-family);
    --text: 400 1rem/140% var(--font-family);
    --text-sm: 400 0.875rem/160% var(--font-family);
    --text-extra: 400 0.875rem/140% "Archivo Black", sans-serif;
    --text-extra-sm: 400 0.78rem/140% "Archivo Black", sans-serif;
}

body {
    font: var(--text);
    color: var(--text-color-primary);
    background-color: var(--bg-color);

    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--brand-color-light);
}

h1, h2, h3 {
    font: inherit;
}

img {
    max-width: 100%;
}

.container {
    max-width: 80rem;
    margin-inline: auto;
}

#more h3 {
    font: var(--text-extra);
}

@media (width <= 48em){
    main {
        row-gap: 2rem;
        margin-block: 1rem;
    }

    #ads {
        padding-inline: 1rem;
    }
}

@media (width >= 48em) {
    .container {
        padding-inline: 2rem;
    }

    main {
        row-gap: 5rem;
        margin-block: 2.5rem;

        /* section ai and aside */
        grid-template-columns: 2fr 1.4fr;

        grid-template-areas: 
        "featured featured"
        "weekly weekly"
        "ai aside";  
    }

    #featured {
        grid-area: featured;
    }

    #weekly {
        grid-area: weekly;
    }

    #ai {
        grid-area: ai;
    }

    aside {
        grid-area: aside;
    }
}

main {
    column-gap: 2rem;
}

.content-tag {
    display: inline-block;
    background-color: var(--brand-color-dark);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font: 500 0.625rem/1.2 var(--font-family);
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: var(--text-color-primary);
    box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.25);
}