main {
    padding-block: 1.5rem;
    
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

main img {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

@media (26em < width < 40.625em) {
    main img {
        width: 13rem;
        height: 13rem;
    }
}

@media (width >= 40.625em) {
    main {
        gap: 1.5rem;
    }
    
    main img {
        width: 17.875rem;
        height: 17.875rem;
    }
}