@media screen and (min-width: 992px) {
    main {
        gap: 1.5rem;
    }

    main img {
        width: 17.875rem;
        height: 17.875rem; /* 286px */
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding-block: 1.5rem;
}

main img {
    object-fit: cover;
}