@media screen and (max-width: 440px) {
    header #profile h1 {
        font: bold 1.3rem/125% var(--font-family) !important;
    }

    main {
        gap: 0.3rem !important;
    }

    main img {
        width: 9rem !important; 
        height: 9rem !important;
    }

    header #profile img {
        width: 10rem;
        height: 10rem;
    }
}

@media screen and (max-width: 490px) {
        /* Ajuste do tamanho do logo */
    #logo img {
        max-width: 9rem; /* Permite que o logo encolha suavemente */
        height: auto;
        transition: transform 0.3s ease-in-out; /* Animação suave */
    }

    /* Ajuste do tamanho do input */
    #primary-menu input {
        width: 6.7rem; /* Reduzindo o tamanho do input */
    }

    #primary-menu {
        margin-right: 0.2rem;
    }
}

@media screen and (min-width: 490px) {
    #primary-menu input {
        width: 11rem; /* Mantendo o tamanho grande em telas maiores */
        transition: transform 0.3s ease-in-out; /* Animação suave */
    }

    #primary-menu {
        margin-right: 0.35rem;
    }

    nav {
        flex-direction: row;
        align-items: center !important;
    }
}

@media screen and (max-width:570px) {
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font: 0.8rem/150% var(--font-family);
    }
}

@media screen and (min-width: 570px) and (max-width: 700px) {
    #primary-menu input {
        width: 15rem; /* Mantendo o tamanho grande em telas maiores */
        transition: transform 0.3s ease-in-out; /* Animação suave */
    }

    #primary-menu {
        margin-right: 0.5rem;
    }
}

@media screen and (min-width: 700px) and (max-width: 992px) {
    #primary-menu input {
        width: 23rem; /* Mantendo o tamanho grande em telas maiores */
        transition: transform 0.3s ease-in-out; /* Animação suave */
    }

    #primary-menu {
        margin-right: 0.5rem;
    }

    #profile > div {
        max-width: 20rem !important;
    }

    div#profile p#destaque {
        display: block !important;

        transition: transform 0.3s ease-in-out; /* Animação suave */
        font: 0.89rem/170% var(--font-family) !important;
    }

    header #info {
        display: flex;
        width: 70vw;
        height: 12rem;
        flex-direction: row;
        row-gap: 6rem !important;
        transition: transform 0.3s ease-in-out; /* Animação suave */
    }

    header #box-info {
        transition: transform 0.3s ease-in-out; /* Animação suave */
    }
}

@media screen and (max-width: 992px) {
    #primary-menu li:nth-child(2) {
        width: 1.5rem;
    }

    .hidden {
        display: none;
    }

    #primary-menu {
        cursor: pointer;
        position: absolute;
        top: 14px;
        right: 62px; /* Coloca o menu na direita */
    }

    #primary-menu label {
        display: none;
    }

    #primary-menu input {
        display: none;
        border: none;
        outline: none;
        padding-block: 0.25rem;
        border-radius: 2rem;
        text-indent: 0.8rem;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        transition: opacity 0.3s ease-in-out;
    }

    div#mobile-menu {
        position: absolute;
        top: 20px; /* Mantém ele sempre no meio vertical */
        right: 32px; /* Coloca o menu na direita */
    }

    menu#itens {
        position: absolute;
        top: 60px;
        right: 10px; /* Coloca o menu na direita */
        background: var(--background-color);
        border-radius: 5px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        /*padding: 0.6rem;*/
        display: none; /* Começa oculto */
        z-index: 100;

        font: var(--text-md);
        color: var(--text-color-secondary);
    }

    #itens ul {
        width: 9.5rem;
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.377);
        list-style-type: none;
        padding-inline: 1.3rem;
        line-height: 2rem;
    }

    header .container {
        flex-flow: row nowrap;
    }

    header #profile img {
        width: 8rem;
        height: 8rem;
    }

    header #profile h1 {
        font: bold 1.5rem/125% var(--font-family);
        color: var(--text-color-primary);
    }

    header #profile p {
        display: none;
    }

    header #info {
        position: absolute;
        top: 146px;
        left: 188px;
        gap: 0.5rem;
    }


    header #info img {
        width: 1.2rem !important;
        height: 1.2rem !important;
    }

    main {
        gap: 0.8rem;
    }

    main img {
        width: 11rem;
        height: 11rem;
    }
}