* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-title: #f8fbfb;
    --text-body: #e2e7e9;
    --text-label: #bac6c9;

    --shape-background: #00050a;
    --shape-base: #000f1f;
    --shape-hover: #001933;
    --shape-stroke: #002347;

    --blue-dark: #144a72;
    --blue-mid: #2374a4;
    --blue-ligth: #73b6d2;
    --pink-low: #3f0f41;
    --pink-dark: #7d298a;
    --pink-base: #9547a5;

    --ff: "Raleway", sans-serif;
    --title-lg: 700 3rem var(--ff);
    --subtitle: 500 2rem/200% var(--ff);
    --body-lg: 400 1.25rem/140% var(--ff);
    --body-md: 400 1rem/140% var(--ff);
}

/* GLOBAL */

body {
    font: 400 0.875rem/140% var(--ff);
    color: var(--text-body);
    background-color: var(--shape-background);
    position: relative;
    overflow-x: hidden;
}

button {
    appearance: none;
    border: none;
    outline: none;
    font: 700 0.875rem var(--ff);
    color: var(--text-title);
    border-radius: .5rem;
}

img {
    width: 100%;
}

/* HERO - NAV and First animation book */ 

#hero {
    width: 100%;
    max-width: 90rem;
    height: 46.6875rem;
    margin-inline: auto;
    position: relative;
}

#hero nav {
    width: 100%;
    max-width: 70rem;
    margin-inline: auto;
    padding-top: 1.25rem;
    padding-inline: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero nav .logo-image {
    width: 4.034375rem;
    height: 3rem;
    background: url(../assets/images/hero-01/logo-symbol.svg) no-repeat center/cover;
}

#hero nav button {
    width: 5.5625rem;
    height: 2.5rem;
    background-color: var(--pink-dark);
}

#hero nav button:hover {
    background-image: radial-gradient(var(--pink-base)10%, var(--pink-dark));
}

/* header */

#hero header {
    max-width: 20.9375rem;
    text-align: center;
    margin-inline: auto;
    margin-top: 2.5rem;
}

#hero header h1 {
    padding-inline: 1rem;
    color: var(--text-title);
    font: 700 1.75rem var(--ff);
    margin-bottom: 1rem;
}

#hero header span {
    font: 400 0.875rem var(--ff);
}

/* HERO-1 - animation */
/* Image */
#hero .hero-background {
    width: 100%;
    max-width: 90rem;
    height: 29rem;
    margin-inline: auto;
    
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    z-index: -1;
    background: url(../assets/images/hero-01/hero-background.png) no-repeat center/cover;
}

#hero .hero-background > div {
    width: 100%;
    max-width: 90rem;
    height: 29rem;
    margin-inline: auto;
    background: linear-gradient(180deg, rgba(0, 5, 10, 0) 0%, rgba(0, 5, 10, 0) 100%);
}


/* BLUR - ELLIPSES */
#hero .blur-container {
    width: 49.62rem;
    height: 29.9375rem;

    position: absolute;
    left: calc(50% - 793.92px/2 + 0px);
    top: calc(50% - 479px/2 + 112px);
}

#hero .blur-container div {
    background-color: var(--pink-low);
}

/* Ellipse 1 */
#hero .blur-container .ellipse-1 {
    width: 12.6825rem;
    height: 12.6825rem;
    filter: blur(138.038px);

    /*position: absolute;*/
    right: -209.46px;
    top: 393.13px;
}

/* Ellipse 2 */
#hero .blur-container .ellipse-2 {
    width: 9.7125rem;
    height: 9.7125rem;
    filter: blur(104.975px);

    /*position: absolute;*/
    left: -209.46px;
    top: 298.9px;
}

/* Ellipse 3 */
#hero .blur-container .ellipse-3 {
    width: 13.896875rem;
    height: 13.896875rem;
    filter: blur(179.367px);

    /*position: absolute;*/
    left: calc(50% - 222.35px/2 - 82.86px);
    top: 502.65px;
}

/* Ellipse 4 */
#hero .blur-container .ellipse-4 {
    width: 6.225rem;
    height: 6.225rem;
    filter: blur(96.7092px);

    /*position: absolute;*/
    right: -157.8px;
    top: 246px;
}


/* HERO 1 - ICONS CONTAINER */
#hero .icons-container {
    max-width: 23.4375rem;
    height: 15.6875rem;
    margin-inline: auto;

    position: absolute;
    left: 0px;
    right: 0px;
    top: 496px;
}

#hero .icons-container > div {
    width: 20.9375rem;
    height: 5.5rem;
    margin-inline: auto;
    text-align: center;
    font: 500 1rem/140% var(--ff);

    position: absolute;
    left: calc(50% - 335px/2);
    top: calc(50% - 88px/2 + 0.16px);
}

/* opened-spellbook  */
#hero .icons-container .icon-01 {
    width: 2.5rem;
    height: 2.5rem; 

    position: absolute;
    left: calc(50% - 40px/2 + 94.85px);
    top: calc(50% - 40px/2 - 77.5px);
    transform: rotate(15deg);
}

/* ouija-planchette  */
#hero .icons-container .icon-02 {
    width: 2rem;
    height: 2rem;

    position: absolute;
    left: calc(50% - 32px/2 - 157.5px);
    top: calc(50% - 32px/2 + 63.5px);
    transform: rotate(-30deg);
}

/* crystal-ball  */
#hero .icons-container .icon-03 {
    width: 2.5rem;
    height: 2.5rem;

    position: absolute;
    left: calc(50% - 40px/2 + 148.5px);
    top: calc(50% - 40px/2 + 64.5px);
    transform: rotate(15deg);
}


/* SECTION KIT-BOOK AND GIFT */

.kit-book {
    max-width: 23.4375rem;
    height: 39.4375rem;
    margin-inline: auto;
    text-align: center;
    margin-top: 6.5rem;
}

.kit-book .title-container {
    margin-bottom: 4rem;
}

.kit-book .title-inner img {
    width: 3rem;
    height: 3rem;
}

.kit-book .title-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kit-book .title-inner h2 {
    font: 700 1.5rem var(--ff);
    color: var(--text-title);
}


/* BOOK - CONTAINER */
.kit-book .book-container {
    max-width: 23.4375rem;
    height: 19.9375rem;
    padding-inline: 1rem;
    position: relative;
}

/* BOOK IMAGE */
.kit-book .book-container img:nth-child(1) {
    max-width: 9.824375rem;
    height: 12.98rem;

    position: absolute;
    left: calc(50% - 147.19px/2 - 21.04px);
    top: calc(50% - 207.68px/2 - 1.89px);
}

/* MARCADOR YELLOW IMAGE  */
.kit-book .book-container img:nth-child(2) {
    max-width: 3.65rem;
    height: 11.3075rem;

    position: absolute;
    left: 229.86px;
    top: 28.03px;
    z-index: -1;
    filter: drop-shadow(0.673184px 1.34637px 6.73184px rgba(0, 0, 0, 0.25));
    border-radius: 1.34637px;
    transform: rotate(12deg);
}

/* MARCADOR PINK IMAGE  */
.kit-book .book-container img:nth-child(3) {
    max-width: 3.618125rem;
    height: 11.275625rem;

    position: absolute;
    left: 265.12px;
    top: 58px;
    z-index: -2;
    filter: drop-shadow(0.673184px 1.34637px 6.73184px rgba(0, 0, 0, 0.25));
    border-radius: 1.34637px;
    transform: rotate(20deg); 
}

/* BROCHE IMAGE */
.kit-book .book-container img:nth-child(4) {
    max-width: 4.680625rem;
    height: 5.3375rem;

    position: absolute;
    left: 43.5px;
    top: 210.56px;
    transform: rotate(-7.55deg);
    z-index: -1;
}

/* Vector */
.book-container img[src*="top"] {
    width: 3.67125rem;
    height: 0.63125rem;

    position: absolute;
    left: 50.5px;
    top: 48.09px;
}

.book-container img[src*="center"] {
    width: 2.205625rem;
    height: 2.674875rem;

    position: absolute;
    left: 29px;
    top: 186.51px;
}

.book-container img[src*="bottom"] {
    width: 48.96px;
    height: 50.99px;

    position: absolute;
    left: 255.63px;
    top: 225.81px;
}

.book-container span {
    font-size: 0.625rem;
    line-height: 0.75rem;
}

/* Livro em capa dura */
.book-container span.top {
    position: absolute;
    left: 16px;
    top: 24.77px;
}

/* Broche exclusivo */
.book-container span.center {
    position: absolute;
    left: 13.12px;
    top: 162.36px;
}

/* Marca páginas temático */
.book-container span.bottom {
    position: absolute;
    left: 207.58px;
    top: 283.69px;
}

@media (width > 59.375em ) {
    #hero header {
        max-width: 41rem;
        text-align: center;
        margin-inline: auto;
        margin-top: 5rem;
    }
    
    #hero header h1 {
        color: var(--text-title);
        font: var(--title-lg);
        margin-bottom: 2rem;
    }
    
    #hero header span {
        display: inline-block;
        max-width: 35.5rem;
        padding-inline: 1.5rem;
        font: 400 1.25rem/140% var(--ff);
    }
}

@media (59.375em < width < 80em) {
    #hero .hero-background {
        height: auto;
        margin-inline: auto;
    }

     /* HERO 1 - ICONS CONTAINER */
     #hero .icons-container {
        max-width: 75rem;
        height: 25rem;

        position: absolute;
        top: calc(50% - 88px/2 + 320px);
        top: 840px;
    }

    #hero .icons-container > div {
        width: 62rem;
        font: 500 2rem/140% var(--ff);

        position: absolute;
        left: calc(50% - 950px/2);
        top: 114px;
    }

    /* Speelbook */
    #hero .icons-container .icon-01 {
        width: 5.5rem;
        height: 5.5rem;

        position: absolute;
        left: calc(50% - 88px/2 + 4.19px);
        top: calc(50% - 88px/2 - 147.74px);
    }

    /* Ouija Planchette */
    #hero .icons-container .icon-02 {
        width: 5rem;
        height: 5rem;

        position: absolute;
        left: calc(50% - 80px/2 - 400px);
        top: calc(50% - 80px/2 + 89.13px);
    }

    /* Crystal Ball */
    #hero .icons-container .icon-03 {
        width: 4.5rem;
        height: 4.5rem;
        
        position: absolute;
        left: calc(50% - 72px/2 + 430px);
        top: calc(50% - 72px/2 + 90.15px);
    }
}

@media (width >= 80em) {
    #hero {
        height: 95.25rem;
    }

    #hero nav {
        padding-top: 2.5rem;
    }

    #hero nav .logo-image {
        width: 14.375rem;
        height: 3.625rem;
        background: url(../assets/images/hero-01/logo-horizontal.svg) no-repeat center/cover;
    }
    
    #hero .hero-background > div {
        width: 90rem;
        height: 59.25rem;
        margin-inline: auto;
        background: linear-gradient(180deg, rgba(0, 5, 10, 0) 0%, rgba(0, 5, 10, 0) 100%);
    }

    /* HERO-1 - animation */

    /* header - desktop */
    #hero header h1 {
        opacity: 0;
        animation: apper 3s 350ms both;
    }

    #hero header span {
        opacity: 0;
        animation: apper 3s 1s both;
    }

    /* Image */
    #hero .hero-background {
        width: 90rem;
        height: 59.25rem;
        margin-inline: auto;
        opacity: 0;
        animation: apper 4s .5ms both;
    }

    @keyframes apper {
        to {
            opacity: 1;
        }
    }

    /* BLUR - ELLIPSES - DESKTOP */

    #hero .blur-container {
        width: 120.0625rem;
        height: 72.4375rem;
        left: -259px;
        top: 366px;
    }

    /* Ellipse 1 */
    #hero .blur-container .ellipse-1 {
        width: 30.6875rem;
        height: 30.6875rem;
        filter: blur(334px);

        position: absolute;
        left: calc(50% - 491px/2 + 696.5px);
        top: 722px;
    }

    /* Ellipse 2 */
    #hero .blur-container .ellipse-2 {
        width: 23.5rem;
        height: 23.5rem;
        filter: blur(254px);

        position: absolute;
        left: calc(50% - 376px/2 - 791px);
        top: 494px;
    }

    /* Ellipse 3 */
    #hero .blur-container .ellipse-3 {
        width: 33.625rem;
        height: 33.625rem;
        filter: blur(434px);

        position: absolute;
        left: calc(50% - 538px/2 - 219px);
        top: 987px;
    }

    /* Ellipse 4 */
    #hero .blur-container .ellipse-4 {
        width: 15.0625rem;
        height: 15.0625rem;
        filter: blur(234px);

        position: absolute;
        left: calc(50% - 241px/2 + 696.5px);
        top: 366px;
    }

    /* HERO 1 - ICONS CONTAINER */
    #hero .icons-container {
        max-width: 75rem;
        height: 25rem;

        position: absolute;
        top: calc(50% - 88px/2 + 320px);
        bottom: 80px;

        will-change: transform, opacity; /* Hint to browser for optimization */
        backface-visibility: hidden; /* Prevent flickering in some browsers */
    }

    #hero .icons-container > div {
        width: 71rem;
        height: 8rem;
        font: var(--subtitle);

        position: absolute;
        left: calc(50% - 1136px/2);
        top: 114px;
    }

    /* Speelbook */
    #hero .icons-container .icon-01 {
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 9999px;

        position: absolute;
        left: calc(50% - 88px/2 - 14px);
        top: calc(50% - 88px/2 - 147.74px);
        transform: rotate(15deg);    
    }

    /* Ouija Planchette */
    #hero .icons-container .icon-02 {
        width: 5rem;
        height: 5rem;
        border-radius: 9090px;

        position: absolute;
        left: calc(50% - 80px/2 - 520.96px);
        top: calc(50% - 80px/2 + 89.13px);
        transform: rotate(92deg);
    }

    /* Crystal Ball */
    #hero .icons-container .icon-03 {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 8181px;
        
        position: absolute;
        left: calc(50% - 72px/2 + 550.14px);
        top: calc(50% - 72px/2 + 90.15px);
        transform: rotate(-14deg);
    }


    /* - ANIMATED - HERO 1  ICONS CONTAINER */
    #hero .icons-container .icon-01,
    #hero .icons-container .icon-02,
    #hero .icons-container .icon-03 {
        opacity: 0;
        scale: 0.8;
        transition: opacity 1s ease, scale 0.5s ease, transform 1s ease; 
    }

    /* Partes da frase */
    #hero .icons-container > div .part-01,
    #hero .icons-container > div .part-02,
    #hero .icons-container > div .part-03 {
        color: var(--text-title);
        opacity: 0.3;
        transition: opacity 1s ease;
    }

    /* Spans dentro de cada parte */
    #hero .icons-container > div .part-01 > span,
    #hero .icons-container > div .part-02 > span,
    #hero .icons-container > div .part-03 > span {
        color: inherit;
        transition: color 0.5s ease;
    }

    /* Quando passa o mouse no container */
    /* Ícone e parte 1 */
    #hero .icons-container:hover .icon-01 {
        opacity: 2;
        scale: 1;
        transition-delay: 10ms;
    }

    #hero .icons-container:hover .part-01 {
        opacity: 1;
        transition-delay: 10ms;
    }
    
    #hero .icons-container:hover .part-01 > span {
        color: var(--blue-ligth);
        transition-delay: 10ms;
    }

    #hero .icons-container .icon-01:hover {
        transform: scale(1) rotate(25deg);
        transition: transform .5s ease;
    }


    /* Ícone e parte 2 */
    #hero .icons-container:hover .icon-02 {
        opacity: 2;
        scale: 1;
        transition-delay: 0.7s;
    }
    
    #hero .icons-container:hover .part-02 {
        opacity: 1;
        transition-delay: 0.7s;
    }
    
    #hero .icons-container:hover .part-02 > span {
        color: var(--blue-ligth);
        transition-delay: 0.7s;
    }

    #hero .icons-container .icon-02:hover {
        transform: scale(1) rotate(110deg);
        transition: transform .5s ease;
    }

    /* Ícone e parte 3 */
    #hero .icons-container:hover .icon-03 {
        opacity: 1;
        scale: 1;
        transition-delay: 1.4s;
    }
    
    #hero .icons-container:hover .part-03 {
        opacity: 1;
        transition-delay: 1.4s;
    }
    
    #hero .icons-container:hover .part-03 > span {
        color: var(--blue-ligth);
        transition-delay: 1.4s;
    }

    #hero .icons-container .icon-03:hover {
        transform: scale(1) rotate(-24deg);
        transition: transform 0.5s ease;
    }


    /* SECTION KIT-BOOK AND GIFT */
    .kit-book {
        max-width: 90rem;
        height: 99.125rem;
    }  

    .kit-book .title-inner h2 {
        font: 700 2rem var(--ff);
    }

    .kit-book .title-inner p {
        font: var(--body-md);
    }

    .kit-book .book-container {
        max-width: 90rem;
        height: 57.5rem;
    }
    
    .kit-book .book-container img:nth-child(1) {
        max-width: 29.1875rem;
        height: 38.5625rem;

        position: absolute;
        left: calc(50% - 467px/2 - 13.5px);
        top: calc(50% - 617px/2 - 17.5px);
    }

    .kit-book .book-container img:nth-child(2) {
        max-width: 10.75rem;
        height: 33.5rem;

        position: absolute;
        left: 882.75px;
        top: 46px;

        border-radius: 8px;
        transform: rotate(12deg);
    }

    .kit-book .book-container img:nth-child(3) {
        max-width: 10.75rem;
        height: 33.5rem;

        position: absolute;
        left: 982.99px;
        top: 140.16px;

        border-radius: .5rem;
        transform: rotate(20.5deg);
    }

    .kit-book .book-container img:nth-child(4) {
        max-width: 13.875rem;
        height: 15.875rem;

        position: absolute;
        left: 330px;
        top: 590px;
        transform: rotate(-8deg);
    }
}
