#app {
    width: 100%;
    max-width: 80rem;
    height: 100vh;
    margin-inline: auto;

    overflow: hidden;
}

main {
    overflow: auto; 
    max-width: 100%;
    padding: 1.5rem;
}

.main-container {
    max-width: 33rem;
    margin-inline: auto;
}

.main-container .back {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1.5rem;
}

.main-container h1 {
    font: 600 1.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;
}

aside {
    max-width: 100%;
    background-color: var(--surface-secondary);
    padding: 1.5rem;
}

.aside-container {
    margin-inline: auto;
    max-width: 31rem;
}

.aside-container h2 {
    font: 600 2.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;
}

.aside-container h2 span {
    color: var(--text-highlight);
}

.aside-container > img {
    margin-top: 2rem;
}

@media (width < 62em) {
    #app {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }

    .aside-container header img {
        display: block;
        margin-inline: auto;
        width: 22rem;
    }

    .aside-container header h2,
    .aside-container header p {
        display: none;
    }
}

@media (width >= 62em) {
    #app {
        display: grid;
        grid-template-columns: 51.25% 48.75%;
    }

    main {
        padding: 4rem;
    }

    .main-container {
        margin-left: auto;
    }

    aside {
        padding: 4rem;
    }

    .aside-container {
        max-width: 31rem;
        margin-right: auto;
    }

    .aside-container h2 {
        font: 600 2.5rem/1.25 var(--font-family);
    }
}

@media (width > 80em) {
    .aside-container h2 {
        margin-block: 1.5rem;
    }

    .aside-container > img {
        margin-top: 5rem;
    }
    
}