/* Dados para contato */

input[required] + .error {
    display: flex;
    align-items: center;
    gap: .25rem;

    color: var(--danger);
    margin-top: 0.25rem;
}

input.invalid,
input:invalid {
    border: 0.125rem solid var(--danger);
}

input:not(:focus):valid + .error {
    display: none;
}

.error img {
    width: 1rem;
    height: 1rem;
}

/* Termos e Privacidade - checkbox */

.terms-container {
    width: 100%;
    border-top: 1px solid var(--input-stroke);
    margin-bottom: 3rem;
}

.terms-container .terms-inner:nth-child(1) {
    margin-top: 2.5rem;
}

.terms-inner {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    gap: .5rem;
}

.terms-inner span {
    color: var(--brand-light);
}

.checkbox-wrapper {
    position: relative;
}

.checkbox-wrapper [type="checkbox"] {
    all: unset;
    position: absolute;
    inset: 0;
}

.checkbox-wrapper .checkbox-image {
    flex: 0 0 1.5rem;
    height: 1.5rem;
    background: url(../../assets/icons/checkbox.svg) no-repeat;
}

.checkbox-wrapper:hover .checkbox-image,
.checkbox-wrapper:focus-within .checkbox-image {
    background: url(../../assets/icons/checkbox-hover.svg) no-repeat;
}

.checkbox-wrapper:has(:checked) .checkbox-image {
    background: url(../../assets/icons/checkbox-checked.svg) no-repeat;
}

/* Botão */

.button-container button {
    width: 11.0625rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    font: var(--text-md);
    background-color: var(--brand-dark);
    color: var(--text-heading);
    border: none;
    border-radius: 0.5rem;

    margin-left: auto;
}

.button-container button:hover {
    background-color: var(--brand-mid);
}

.button-container button img {
    width: 1.25rem;
    height: 1.25rem;
}