.colors-box {
    flex-wrap: wrap;
    gap: 0.7rem;
    justify-content: space-around;
}

/* O círculo colorido visível */
.colors-box .circle {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 5px solid var(--shape-button);
    background-color: var(--brand-light); /* cor padrão, será substituída */
    cursor: pointer;
}

.colors-box .circle:hover {
    border: 5px solid var(--shape-hover);
}

#navy + .circle {
    background-color: #6a59ff;
}

#purple + .circle {
    background-color: #b259ff;
}

#fuschia + .circle {
    background-color: #ff59f9;
}

#pink + .circle {
    background-color: #ff598b;
}

#red + .circle {
    background-color: var(--danger);
}

#orange + .circle {
    background-color: #ff8b59;
}

#yellow + .circle {
    background-color: #ffcd59;
}

#lime + .circle {
    background-color: #e1ff59;
}

#green + .circle {
    background-color: #59ff91;
}

#cyran + .circle {
    background-color: #59fff9;
}

.radio-wrapper + .radio-wrapper {
    margin-bottom: 1.75rem;
}

.theme-container {
    overflow: hidden;
    padding-block: 0.1rem;
    grid-template-columns: repeat(auto-fit, minmax(8.375rem, 1fr)); 
}

.theme-container .card {
    width: 8.375rem;
    height: 6.4375rem;
    text-align: center;
    color: var(--text-heading);
    background-color: var(--shape-button);
    border: 1px solid var(--input-stroke);
    border-radius: 0.5rem;

    margin-inline: auto;
}

.theme-container .card:hover {
    background-color: var(--input-stroke);
}

.card img {
    width: 7.875rem;
    height: 4rem;
    border-radius: 0.5rem;
    margin-top: 0.1875rem;
}

.card span {
    display: block;
    font-weight: 400;
    margin-top: 0.1875rem;
}