/* Sobre o evento */

.input-wrapper, 
.radio-wrapper,
.textarea-wrapper {
    width: 100%;
}

input[type="text"], 
input[type="datetime-local"],
input[type="email"], 
textarea {
    appearance: none;

    width: 100%;
    border-radius: 0.5rem;
    border: 2px solid transparent;
    background-color: var(--input-base);
    outline: 1px solid var(--input-stroke);

    padding: 0.75rem 1rem;
    font: var(--text-md);
    color: var(--input-placeholder);
}

input:focus,
textarea:focus,
input[type="datetime-local"]:focus-within,
.colors-box input[type="radio"]:checked + .circle,
.theme-container .card:has(:checked)  {
    outline: .125rem solid var(--brand-light);
    border-color: var(--input-stroke);
    outline-offset: .1px;
}

input[type="datetime-local"] {
    min-width: 100%;
}

/* esconde o ícone de calendário no Safari */
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

/* Configuração do radio Tipo */

.info {
    display: flex;
}

input[type="radio"] {
    display: none;
}

.radio-inner {
    max-width: 100%;
    height: 3.2rem;
    border: 1px solid var(--input-stroke);
    border-radius: 0.5rem;
    padding: 0.2rem;
    background-color: var(--input-base);

    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.radio-box {
    padding: 0.5rem;
    border: 2px solid transparent;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 0.3s;
    background-color: var(--input-base);

    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    transition: color 0.3s ease;
}

.radio-box input[type="radio"]:checked ~ span {
    color: var(--text-heading);
}

.online input[type="radio"]:checked ~ div.image svg path,
.presential input[type="radio"]:checked ~ div.image svg path {
    /* stroke pinta as linhas podendo deixar a imagem com o traço mais grosso, e fill colore o fundo deixando mais suave */
    fill: var(--brand-light);
    transition: background-image 0.3s ease;
}

.radio-box:hover {
    border: 2px solid var(--input-stroke);
}

.radio-box:has(input:checked) {
    background-color: var(--input-stroke);
    border: 2px solid var(--input-stroke);
}