*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --input-base: #1c1f21;
    --input-stroke: #363b40;
    --input-placeholder: #869198;

    --shape-bg: #131516;
    --shape-body: #212427;
    --shape-button: #2d3136;
    --shape-hover: #383d42;

    --text-body: #c8cdd0;
    --text-heading: #f9f9f9;

    --brand-light: #59b2ff;
    --brand-mid: #3487cf;
    --brand-dark: #1d6fb6;
    --danger: #ff5959;
    --color-logo: #ff598b;

    --ff-logo: "Leckerli One", cursive;
    --ff-heading: "Baloo 2", sans-serif;
    --ff-text: "Open Sans", sans-serif;

    --f-logo: 400 2.5rem var(--ff-logo);

    --h-md: 700 1.75rem var(--ff-heading);
    --h-sm: 700 1.125rem var(--ff-heading);
    --text-md: 600 1rem var(--ff-text);
    --text-sm: 600 0.875rem var(--ff-text);
    --text-xs: 600 0.75rem var(--ff-text);
    /* regular 400 */

    --px-main: 5.6rem;
    --py-main: 5rem;
}

body {
    font: var(--text-sm);
    color: var(--text-body);
    background-color: var(--shape-body);
}

#app {
    max-width: 80rem;
    margin-inline: auto;
}

main {
    background-color: var(--shape-bg);
}

img {
    width: 100%;
}

h2 {
    font: var(--h-md);
    margin-bottom: 2.5rem;
}

h3 {
    font: var(--h-sm);
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1; /* Faz cada botão ocupar o mesmo espaço */
}

.gap-8 {
    gap: 0.5rem;
}

.gap-12 {
    gap: 0.75rem;
}

.gap-16 {
    gap: 1rem;
}

@media (width >= 64em) {
    :root {
        --px-main: 8.125rem;
    }
}