@media (width <= 37.5em) {
    aside figure {
        height: 40rem;
        background: url(../assets/Background.png) no-repeat center bottom/cover;
        
        position: relative;
        z-index: 0;
    }

    main {
        padding: clamp(1.5rem, 1rem + 2vw, 5rem);
    }

    div.date-event {
        flex-wrap: wrap;
    }

    div.info {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media (37.5em < width < 80em) {
    aside figure {
        height: 40rem;
        background: url(../assets/Background-mobile.png) no-repeat center bottom/contain;
        
        position: relative;
        z-index: 0;
    }

    aside figcaption::before {
        content: "";
        position: absolute;
        border-radius: 0.75rem;
        inset: 0;
        z-index: -1;
        bottom: 40%;
        background: linear-gradient(
            180deg, 
            #131516 50%,
            transparent 100%
        );
    }

    main {
        padding: clamp(1.5rem, 1rem + 2vw, 5rem);
    }
}

@media (width >= 54.25em) {
    #app {
        grid-template-columns: 31.25% 68.75%;

        height: 100vh;
        overflow: hidden;
    }

    aside {
        padding: 1.5rem;
        overflow: hidden;
    }

    aside figure {
        height: 45.5rem;
        border-radius: 0.75rem;
        background: url(../assets/Background.png) no-repeat center/cover;
    }

    main {
        padding-block: var(--py-main);
        padding-inline: var(--px-main);
        overflow-y: auto;
        border-radius: 0.75rem;
        margin-block: 1.5rem;
        border: 2px solid red;
    }
}

aside h1 {
    margin-bottom: 0.25rem;
}

aside figcaption {
    padding: 1.5rem;
}