@media screen and (min-width: 850px) {
    body {
        background: black url(../assets/imagens/background.jpg) no-repeat center center/cover;
    }

    article#page {
        width: 50rem;
        padding: 1.5rem;
        background-color: var(--bg-main);
        border-radius: 1.5rem;
        margin: 3rem auto 1.75rem;
    }

    img {
        border-radius: 16px;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 140%;
    }

    h2 {
        font-size: 1.5rem;
        line-height: 150%;
    }

    a:hover {
        color: #F0E8C2;
        text-decoration: underline;
    }
}

    main {
        padding: 1.5rem;
    }

    section + section {
        margin-top: 1.5rem;
    }

    section#about p + p {
        margin-top: 0.75rem;
    }

    h1, h2 {
        color: #291B1A;
        margin-bottom: 0.25rem;
    }

    ul {
        padding-left: 1.5rem;
    }

    section#preparation p + p{
        padding-top: 1rem;
    }

    footer {
        color: #F0E8C2;
        text-align: center;
        padding-bottom: 3rem;
    }

    footer img {
        vertical-align: middle;
    }

    a {
        color: #ad847f;
        text-decoration: none;
    }


