@charset "UTF-8";

:root {
    font-family: "Alice", serif;
    line-height: 150%;
    color: #573A37;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: black url(assets/imagens/background.jpg) no-repeat center center/cover;
}

article#page {
    width: 50rem;
    padding: 1.5rem;
    background-color: hsl(50, 61%, 85%);
    border-radius: 1.5rem;
    margin: 3rem auto;
}

img {
    border-radius: 16px;
}

main {
    padding: 1.5rem;
}

section + section {
    margin-top: 1.5rem;
}

section#about p + p {
    margin-top: 0.75rem;
}

h1 {
    line-height: 140%;
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 150%;
}

h1, h2 {
    color: #291B1A;
    margin-bottom: 0.25rem;
}

ul {
    padding-left: 1.5rem;
}

section#preparation p + p{
    padding-top: 1rem;
}
