@media screen and (min-width: 485px) {
    nav#menu menu{
        gap: 10rem;
    }
}

@media screen and (min-width: 768px) {
    h3 {
        font-size: 1.75rem;
    }

    svg.drop {
        display: none;
    }

    article.drop-text {
        display: block !important; /* Garante que os textos fiquem sempre visíveis */
    }

    nav#menu {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    article#title-page {
        width: 70rem;
        margin: 2.658rem auto;
        padding: 1rem;
    }

    img {
        width: 100%;
        border-radius: 1.75rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    nav#menu {
        display: none;
    }
}