@charset "UTF-8";

:root {
    --cor-border: hsl(0, 0%, 85%);
    --cor-headline: hsl(8, 71%, 60%);

    --text-title: hsl(0, 0%, 11%);
    --text-secundary: hsl(0, 0%, 20%);
    --blue-history: hsl(213, 87%, 35%);
    --purple-couple: hsl(270, 70%, 35%);
    --pink-family: hsl(342, 79%, 52%);
    --orange-free: hsl(22, 87%, 49%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

body {
    font-size: 1rem;
    font-family: "Open Sans", serif;
}

article#title-page {
    width: 100vw;
    display: block;
    margin: auto;
    margin-top: 3rem;

}

main {
    border-top: 1px solid var(--cor-border);
}

section#title-list {
    margin: 3rem 0rem;
}

section + section {
    margin-bottom: 2.5rem;
}

img {
    width: 100%;
    margin-bottom: 1.25rem;
}

.headline {
    color: var(--cor-headline);
    font-weight: bold;
    margin-top: 2.5rem;
}

.subtitle {
    font-style: italic;
    text-align: center;
    margin-bottom: 2.5rem;
}

h1 {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

h3 {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

h1, h2, h3 {
    color: var(--text-title);
}

p {
    line-height: 1.6rem;
    color: var(--text-secundary);
}

.headline, .subtitle, h1, h2, h3, p, ul {
    padding-left: 1rem;
    padding-right: 1rem;
}

main p + p {
    margin-top: 2rem;
}

article p + p {
    font-weight: bolder;
}

article p:first-child {
    text-indent: 1rem;
}

ul {
    list-style-position: inside;
}


.history {
    color: var(--blue-history);
    font-weight: bolder;
}

.couple {
    color: var(--purple-couple);
    font-weight: bolder;
}

.family {
    color: var(--pink-family);
    font-weight: bolder;
}

.free {
    color: var(--orange-free);
    font-weight: bolder;
}

aside {
    border-top: 1px solid var(--cor-border);
    padding: 0rem 1rem;
    margin-top: 2.5rem;
}

aside p {
    margin-top: 2.5rem;
}

nav#menu {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    margin-top: 3rem;
}

nav#menu menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, 18vw, 6rem); /* Mínimo de 1rem, ajustável com viewport, máximo de 6rem */
    width: 100%; /* Garante que o menu ocupe toda a largura */
    max-width: 300px; /* Limita a largura do menu */
    margin: 0 auto; /* Centraliza o menu na tela */
}

nav#menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

nav#menu img {
    width: 2.8rem; /* Ajuste o tamanho dos ícones */
    display: block; /* Evita espaços extras ao redor da imagem */
}